@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color:#7C7D7E;
}

.greeting {
  display: flex;
  justify-content: space-between;
  margin: 1em 0.8em;
  
  &__h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
  }
}

.shopping-icon {
  color: #4A4B4D;
  place-self: center;
  font-size: 1.2em;
}

.categories {
  display: flex;
  
}

.category {
  padding: 1em 1em 3em;

  &__img {
    border-radius: 10px;
  }
  &__h3 {
    text-align: center;
    font-weight: 700;
    font-size: 0.9em;
    color: #4A4B4D;
  }
}

.subjectheader {
  display: flex;
  justify-content: space-between;
  color: #4A4B4D;
  margin: 0 0.8em;
  padding: 1em 0;

  &__h1 {
    font-weight: 300;
    font-size: 1.2em;
  }
  &__link {
    place-self: center;
    color: #FC6011;
    text-decoration: none;
  }
}

.restaurant {
  padding: 0.8em 0 1em;

  &__img {
    width: 100%;
    height: 240px;
  }
  &__h2 {
    margin: 0 0.8em;
  }
  &__ratings {
    display: flex;
    font-size: 0.8em;
    margin: 0 0.8em;
    padding: 0.5em;
  }
}
